.explore {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .explore div {
    margin: 1rem;
    width: 70%;
  }
}

.chart__container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
  .chart__container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.chart__container__left {
  width: 100%;
}

.chart__container__right {
  width: 100%;
}

.chart__container__right .upper__division {
  min-height: 25rem;
}

.chart__container__right .lower__division {
  min-height: 25rem;
}
