.profileForm {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90rem;
  }
  input {
    background-color: #e4e9f7;
    font-size: 1.6rem;
  }
  .MuiInputLabel-formControl {
    font-size: 1.8rem;
  }
}
