.css-qivjh0-MuiStepLabel-label {
  font-size: 1.8rem !important;
}

.css-1sn4lm3-MuiTypography-root {
  font-size: 1.8rem !important;
}
.css-1atslg0-MuiTypography-root {
  font-size: 1.8rem !important;
}

// button mui stepper

// back btn
.css-a1sg1c-MuiButtonBase-root-MuiButton-root {
  font-size: 1.8rem !important;
}

// next btn
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 1.8rem !important;
}
