// //*ROBOTO
.thin {
  font-family: 'poppins_thin';
  font-weight: 100;
}
.extralight {
  font-family: 'poppins_extralight';
  font-weight: 200;
}
.light {
  font-family: 'poppins_light';
  font-weight: 300;
}
.regular {
  font-family: 'poppins_regular';
  font-weight: 400;
}
.medium {
  font-family: 'poppins_medium';
  font-weight: 500;
}
.semibold {
  font-family: 'poppins_semibold';
  font-weight: 600;
}
