.MessageContainer {
  color: black;
}

.MessageContainer__message--left {
  padding: 0.15rem;
  background: lightgrey;
  margin: 0.5rem 0rem;
  max-width: 20%;
}
.MessageContainer__message--right {
  color: white;
  padding: 0.15rem;
  margin: 0.5rem 0rem;
  background: slateblue;
  max-width: 20%;
  transform: translateX(350%);
}
